{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<img src="{% static 'images/Lava.png' %}">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
	        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">my Accounts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">stats</a>
			</li>
			{% if user.is_authenticated %}
			<ul class="nav-item  ml-auto">
				<li><a class="nav-link navbar-right" href="">User: {{ user.get_username }}</a></li>
			</ul>
			<ul class="nav-item  ml-auto">
				<li><a class="nav-link navbar-right" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
			</ul>
			{% else %}
			<ul class="nav-item navbar-rigt">
				<li><a class="nav-link navbar-right" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
			</ul>
			{% endif %}
			</li>
		</ul>
	</div>
</nav>